#heart {
  display: inline;
  color: red;
  padding: 0;
  font-size: 12px;
}

.footerText {
  font-size: 12px;
}

.footerLinks {
  font-size: 16px;
}

@keyframes heartbeat {
  0% {
    font-size: 14px;
  }
  20% {
    font-size: 16px;
  }
  40% {
    font-size: 14px;
  }
  60% {
    font-size: 16px;
  }
  80% {
    font-size: 14px;
  }
  100% {
    font-size: 14px;
  }
}

#heart:hover {
  animation: heartbeat 1s infinite;
  cursor: pointer;
}

.footer {
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
}

#hunter:hover {
  color: red;
}
#kai:hover {
  color: yellow;
}
#thad:hover {
  color: green;
}
#fab:hover {
  color: blue;
}
#kevin:hover {
  color: purple;
}

.bottomNames {
  display: inline;
  font-size: 12px;
  padding: 0;
  transition: 1s;
}
