.test {
  margin: 0;
  margin-top: 4vh;
}
p {
  text-align: center;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
}
html {
  scroll-behavior: smooth;
}

#about {
  padding-bottom: 50px;
}
